<div class="card my-3" style="width: 20rem; height: 420px; margin: auto;" >
    <img src="{{product?.image}}" class="card-img-top" height="150" alt="...">
    <div class="card-body">
      <h5 class="card-title my-3 h5 d-block" style="text-align:center ; height: 50px; text-decoration: none;">{{product?.title|stringSlice:0:30}}</h5>
      <p class="card-text" style="height: 60px;">{{product?.description|stringSlice:0:60}}</p>
      <h4 class="card-text" style="text-align:center">{{product?.price|currency:'USD'}}</h4>
      <div class="my-3" style="text-align:center">
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>
</div>
