<div class="px-3 py-2 border-bottom mb-3">
    <div class="container d-flex flex-wrap justify-content-center">
        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
        <li>
            <a [routerLink]="['']" class="nav-link text-secondary">
            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"></use></svg>
            Home
            </a>
        </li>
        <li>
            <a [routerLink]="['/allproducts']" class="nav-link text-black">
            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"></use></svg>
            Dashboard
            </a>
        </li>
        <li>
            <a [routerLink]="['/allphotos']" class="nav-link text-black">
            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"></use></svg>
            All Photos
            </a>
        </li>
        <li>
            <a [routerLink]="['/allproducts']" class="nav-link text-black">
            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"></use></svg>
            Products
            </a>
        </li>
        <li>
            <a [routerLink]="['/login']" class="nav-link text-black">
            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"></use></svg>
            Login
            </a>
        </li>
        </ul>
    </div>
</div>
